[core]
	excludesfile = ~/.gitignore_global
    editor = vim
[user]
    name  = fnwiya
    email = fnwiya@gmail.com
[color]
    ui          = auto
    status      = auto
    diff        = auto
    branch      = auto
    interactive = auto
    grep        = auto
[push]
    default = simple
[ghq]
    root = ~/repos
[alias]
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
[commit]
	verbose = true
[rebase]
	autosquash = true
[include]
    path = ~/.gitconfig.local
    path = ~/dotfiles/submodules/forciaConf/.gitconfig.forcia
[merge]
	ff = false
[pull]
	ff = only
