[core]
    excludesfile = ~/.gitignore_global
    editor = vim
    pager = less
    ignorecase = false
[user]
    name  = fnwiya
    email = fnwiya@gmail.com
[color]
    ui          = auto
    status      = auto
    diff        = auto
    branch      = auto
    interactive = auto
    grep        = auto
[push]
    default = simple
[ghq]
    root = ~/repos
[alias]
    graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
    delete-merged-branches = !git branch --merged | grep -v \\* | xargs -I % git branch -d %
[commit]
    verbose = true
[rebase]
    autosquash = true
[include]
    path = ~/.gitconfig.local
[merge]
    ff = false
[pull]
    ff = only
[init]
    templatedir = ~/.git_template
