setup/.emacs.d/*

!setup/.emacs.d/init.el
!setup/.emacs.d/elisp/work/*
!setup/.emacs.d/snippets/*
!setup/.emacs.d/loader-init/*
!setup/.emacs.d/themes/*
!setup/.emacs.d/README.md

setup/.emacs.d/loader-init/*.elc
