[submodule "setup/.emacs.d/elisp/work/hatena-blog-mode"]
	path = setup/.emacs.d/elisp/work/hatena-blog-mode
	url = https://github.com/fnwiya/hatena-blog-mode.git
[submodule "setup/.emacs.d/elisp/work/meigen-bot"]
	path = setup/.emacs.d/elisp/work/meigen-bot
	url = https://github.com/fnwiya/meigen-bot.git
[submodule "setup/tmux/.tmux/plugins/tmp"]
	path = setup/tmux/.tmux/plugins/tmp
	url = https://github.com/tmux-plugins/tpm
[submodule "submodules/fzf"]
	path = submodules/fzf
	url = https://github.com/junegunn/fzf
