setup/.emacs.d/*
!setup/.emacs.d/init.el
!setup/.emacs.d/elisp/
!setup/.emacs.d/snippets/
!setup/.emacs.d/loader-init/
!setup/.emacs.d/themes/
!setup/.emacs.d/insert-tmp/
!setup/.emacs.d/README.md
setup/.emacs.d/loader-init/00-custom-set-variables.el
setup/.emacs.d/loader-init/*.elc
setup/.emacs.d/themes/*.elc
setup/.emacs.d/elisp/el-get
setup/.emacs.d/elisp/package

setup/vim/.vim/dein/repos
setup/vim/.vim/dein/temp
setup/vim/.vim/dein/.dein
setup/vim/.vim/dein/cache_vim
setup/vim/.vim/dein/rollbacks
setup/vim/.vim/.netrwhist

setup/.xmonad/*
!setup/.xmonad/xmonad.hs
!setup/.xmonad/xmobar.hs
