[submodule "setup/.emacs.d/elisp/work/hatena-blog-mode"]
	path = setup/.emacs.d/elisp/work/hatena-blog-mode
	url = https://github.com/fnwiya/hatena-blog-mode.git
[submodule "setup/.emacs.d/elisp/work/meigen-bot"]
	path = setup/.emacs.d/elisp/work/meigen-bot
	url = https://github.com/fnwiya/meigen-bot.git
[submodule "setup/spacemacs"]
	path = setup/spacemacs
	url = https://github.com/syl20bnr/spacemacs.git
[submodule "/Users/fnwiya/dotfiles/setup/tmux/.tmux/plugins/tmp"]
	path = /Users/fnwiya/dotfiles/setup/tmux/.tmux/plugins/tmp
	url = https://github.com/tmux-plugins/tpm
