[core]
	excludesfile = /Users/fnwiya/.gitignore_global
    editor = vim
[include]
    path = ~/.gitconfig.local
[color]
    ui          = auto
    status      = auto
    diff        = auto
    branch      = auto
    interactive = auto
    grep        = auto
[user]
    name  = fnwiya
    email = fnwiya@gmail.com
[push]
    default = simple
[github]
	user = fnwiya
	password = l9q3052q
	oauth-token = 57258cc501cc8dcfa8bc63874091338ae67e3e26
